body {
  background-color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
h1 {
  justify-content: center;
}

header {
  display: flex;
}

#icon {
  max-width: 30px;
  max-height: 30px;
}
#logo {
  max-width: 60px;
  max-height: 60px;
}
p {
  text-align: center;
  font-size: 15px;
}

h6 {
  display: inline-block;
  text-align: left;
}
